html {
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}

body {
  margin: 0px;
  background: #01274f;
}

#clasification_container {
  background-color: aqua;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#clasification_container > h1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.clasification-groups_container {
  text-align: center;
}

.clasification-groups_container > h3 {
  margin: 0px;
}

.clasification-groups_container > p {
  margin: 0px;
}

video {
  width: 275px;
  background: #01274f;
}
